* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
display: flex;
}


.image-section {
    height: 100vh;
    width: 40vw;
    background-image: url(/images/background.jpg);
    background-size: cover;
}

.form-section {
    height: 100vh;
    width: 60vw;
    display: flex;
}




